/* Extracted and interpreted from adcstyle.css and frameset_styles.css */

/* body */
body {
	margin: 20px auto;
    width: 800px;
	background-color: #fff;
	color: #444444;
	font-family: 仿宋,Arial,sans-serif;
    font-size: 18px;
    line-height: 150%;
}

/* links */
a:link {
	color: #00f;
	text-decoration: none;
}

a:visited {
	color: #00a;
	text-decoration: none;
}

a:hover {
	color: #f60;
	text-decoration: underline;
}
	
a:active {
	color: #f60;
	text-decoration: underline;
}


/* html tags */

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size: 101%;
}

* html pre {
	font-size: 101%;
}

/* code */

pre, code {
	font-size: 13px; 
    font-family: Consolas, Monaco, Andale Mono, monospace, 黑体;
}

pre {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #c7cfd5;
	background: #f1f5f9;
	margin: 20px 0;
	padding: 8px;
	text-align: left;
}
code {
    line-height: 150%;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);  
}
/*
hr.style-two {

border: 0;

height: 1px;

background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
*/

/* headers */


h1, h2, h3, h4, h5, h6 {
	font-family: 等线, Arial, serif;
	font-weight: bold;
    color: #111111;
}

h1	{
	margin-top: 1em;
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 33px;
	border-bottom: 0;
}

h1{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
}

h2	{
	margin-top: 2.5em;
    margin-bottom: 15px;
	font-size: 27px;
    padding-bottom: 2px;
	border-bottom: 1px solid #EFEAEA;
}
h3	{
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: 24px;
}
h4	{
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: 21px;
}
h5	{
	margin-top: 20px;
	margin-bottom: .5em;
    padding: 0;
	font-size: 18px;
}

h6	{
	margin-top: 20px;
	margin-bottom: .5em;
    padding: 0;
	font-size: 15px;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* lists */

ul	{
	/*list-style: square outside;*/
	margin: 0 0 0 30px;
	padding: 0 0 12px 6px;
}

li	{
	margin-top: 7px;
}
	        
ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0 0 0 30px;
	padding: 0 0 12px 6px;
}
	
ol ol {
	list-style-type: lower-alpha;
    list-style-position: outside;
	margin: 7px 0 0 30px;
	padding: 0 0 0 10px;
    }

ul ul {
	margin-left: 40px;
	padding: 0 0 0 6px;
}

li>p { display: inline }
li>p+p { display: block }
li>a+p { display: block }


/* table */

table {
    width: 100%;
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
	border-spacing: 0;
}
	
table th {
	padding: 4px 8px 4px 8px;
	background: #E2E2E2;
	font-size: 18px;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
table th p {
	font-weight: bold;
	margin-bottom: 0px; 
}
	
table td {
	padding: 8px;
	font-size: 15px;
	vertical-align: top;
	border-bottom: 1px solid #919699;
	border-right: 1px solid #919699;
}
table td p {
	margin-bottom: 0px; 
}
table td p + p  {
	margin-top: 5px; 
}
table td p + p + p {
	margin-top: 5px; 
}

/* forms */

form {
	margin: 0;
}

button {
	margin: 3px 0 10px 0;
}
input {
	vertical-align: middle;
	padding: 0;
	margin: 0 0 5px 0;
}

select {
	vertical-align: middle;
	padding: 0;
	margin: 0 0 3px 0;
}

textarea {
	margin: 0 0 10px 0;
	width: 100%;
}